storage_account_conn_str="DefaultEndpointsProtocol=..."
storage_container_name_input="input"  
storage_container_name_result="result"  

service_bus_conn_str="Endpoint=sb://..."
queue_input_name="input"
queue_output_name="output"

focal_length="16"
sensor_width="5.6"
sensor_height="3.14"

path_model="weights/kenaex_drone_f32_v6_dynamic.onnx"